.bg-container {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

@media screen and (min-width: 768px) {
  .bg-container {
    margin-top: 96px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 550px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 80%;
    max-width: 1140px;
  }
}

.line {
  border: 1px solid #dee0e3;
  width: 100%;
  margin-top: 16px;
}

.comments-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .comments-text-container {
    flex-direction: row;
  }
}

.heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 48px;
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 56px;
    margin-top: 0px;
    margin-bottom: 24px;
  }
}

.form-text {
  color: #475569;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-top: 24px;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  order: 1;
}

@media screen and (min-width: 768px) {
  .form-container {
    width: 28%;
    min-width: 300px;
    order: 0;
  }
}

.input-name {
  font-family: 'Roboto';
  font-size: 16px;
  height: 40px;
  border: 1px solid #cbd2d9;
  border-radius: 4px;
  margin-bottom: 12px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  outline: none;
}

.input-text {
  font-family: 'Roboto';
  font-size: 16px;
  border: 1px solid #cbd2d9;
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  outline: none;
}

.add-button {
  background-color: #0284c7;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Roboto';
  border-radius: 4px;
  border: none;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  margin-top: 16px;
  min-width: 60px;
  align-self: flex-start;
  outline: none;
  cursor: pointer;
}

.comment-image {
  width: 280px;
  height: 200px;
}

@media screen and (min-width: 768px) {
  .comment-image {
    width: 380px;
    height: 300px;
  }
}

.comment-heading {
  color: #475569;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  margin-left: 8px;
}

.count-text {
  text-align: center;
  color: #ffffff;
  background-color: #0284c7;
  font-size: 12px;
  font-family: 'Roboto';
  border-radius: 4px;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
  margin-right: 4px;
}

.list-comments {
  padding-left: 0;
  margin-top: 0;
}
